In [1]:
import pandas as pd
import numpy as np
import plotly as py
import plotly.graph_objs as go
py.offline.init_notebook_mode(connected=True)

In [2]:
economy_df = pd.read_excel('Data/country_classifications.xls',sheet_name=0,header=4)

In [3]:
ed_df=pd.read_csv('Data/EDULIT_DS.csv')

In [51]:
gapall=pd.read_csv('Data/GenderGapIndex.csv')
gdp_all=pd.read_csv('Data/GDP_By_Country.csv',header=4)

In [49]:
stem_df=ed_df.loc[ed_df['Indicator']=='Percentage of graduates from Science, Technology , Engineering and Mathematics programmes in tertiary education who are female (%)']

In [53]:
stem_2016=stem_df[stem_df['Time']==2016]
stem_2016.rename(columns={'Country':'Country Name'},inplace=True)
stem_2016.head()

C:\Users\mstos\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,EDULIT_IND,Indicator,LOCATION,Country Name,TIME,Time,Value,Flag Codes,Flags
5003,FGP_5T8_F500600700,"Percentage of graduates from Science, Technolo...",AUT,Austria,2016,2016,25.90260,NaN,NaN
5008,FGP_5T8_F500600700,"Percentage of graduates from Science, Technolo...",BEL,Belgium,2016,2016,27.48167,NaN,NaN
5012,FGP_5T8_F500600700,"Percentage of graduates from Science, Technolo...",CAN,Canada,2016,2016,31.42950,+,National Estimation
5017,FGP_5T8_F500600700,"Percentage of graduates from Science, Technolo...",CZE,Czechia,2016,2016,35.37918,NaN,NaN
5022,FGP_5T8_F500600700,"Percentage of graduates from Science, Technolo...",DNK,Denmark,2016,2016,33.65038,NaN,NaN

In [7]:
# stem_df=stem_df.pivot(index='Country',columns='Time',values='Value')

In [8]:
# stem_df.drop(columns={2017},inplace=True)

In [9]:
# stem_df.groupby(['Country'])['Time'].min()

In [12]:
economy_df.dropna(axis=0,how='all',inplace=True)
economy_df.reset_index(inplace=True)
economy_df.dropna(axis=1,how='all',inplace=True)
economy_df.drop(columns={'level_0'},inplace=True)
economy_df.rename(columns={'Economy':'Country Name'},inplace=True)

In [13]:
stem_2016=stem_2016.merge(economy_df,on=)

,Country Name,Code,Region,Income group,Lending category,Other
0,Afghanistan,AFG,South Asia,Low income,IDA,HIPC
1,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,NaN
2,Algeria,DZA,Middle East & North Africa,Upper middle income,IBRD,NaN
3,American Samoa,ASM,East Asia & Pacific,Upper middle income,..,NaN
4,Andorra,ADO,Europe & Central Asia,High income,..,NaN

In [14]:
overall_gendergap=gapall.loc[gapall['Indicator']=='Overall Global Gender Gap Index',:]
overall_gendergap=overall_gendergap.loc[overall_gendergap['Subindicator Type']=='Index',:]

In [15]:
overall_gendergap.head(10)
countries = overall_gendergap['Country Name'].unique()
overall_gendergap.head()

,Country ISO3,Country Name,Indicator,Subindicator Type,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
8,AGO,Angola,Overall Global Gender Gap Index,Index,0.6038,0.6034,0.6032,0.6353,0.6712,0.6624,NaN,0.6659,0.6311,0.637,0.643
21,ALB,Albania,Overall Global Gender Gap Index,Index,0.6607,0.6685,0.6591,0.6601,0.6726,0.6748,0.6655,0.6412,0.6869,0.701,0.704
34,ARE,United Arab Emirates,Overall Global Gender Gap Index,Index,0.5919,0.6184,0.6220,0.6198,0.6397,0.6454,0.6392,0.6372,0.6436,0.646,0.639
47,ARG,Argentina,Overall Global Gender Gap Index,Index,0.6829,0.6982,0.7209,0.7211,0.7187,0.7236,0.7212,0.7195,0.7317,0.734,0.735
60,ARM,Armenia,Overall Global Gender Gap Index,Index,NaN,0.6651,0.6677,0.6619,0.6669,0.6654,0.6636,0.6634,0.6622,0.668,0.669

In [16]:
overall_gendergap=overall_gendergap.drop(columns={'Country ISO3','Indicator','Subindicator Type'})
overall_gendergap.set_index('Country Name',inplace=True)
overall_clean=overall_gendergap.transpose()
overall_clean.head()

Country Name,Angola,Albania,United Arab Emirates,Argentina,Armenia,Australia,Austria,Azerbaijan,Burundi,Belgium,...,Ukraine,Uruguay,United States,Uzbekistan,"Venezuela, RB",Vietnam,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
2006,0.6038,0.6607,0.5919,0.6829,NaN,0.7163,0.6986,NaN,NaN,0.7078,...,0.6797,0.6550,0.7042,0.6886,0.6664,NaN,0.4594,0.7125,0.6358,0.6460
2007,0.6034,0.6685,0.6184,0.6982,0.6651,0.7204,0.7060,0.6781,NaN,0.7198,...,0.6790,0.6608,0.7002,0.6921,0.6797,0.6889,0.4510,0.7194,0.6288,0.6464
2008,0.6032,0.6591,0.6220,0.7209,0.6677,0.7241,0.7153,0.6856,NaN,0.7163,...,0.6856,0.6907,0.7179,0.6906,0.6875,0.6778,0.4664,0.7232,0.6205,0.6485
2009,0.6353,0.6601,0.6198,0.7211,0.6619,0.7282,0.7031,0.6626,NaN,0.7165,...,0.6896,0.6936,0.7173,0.6913,0.6839,0.6802,0.4609,0.7709,0.6310,0.6518
2010,0.6712,0.6726,0.6397,0.7187,0.6669,0.7271,0.7091,0.6446,NaN,0.7509,...,0.6869,0.6897,0.7411,NaN,0.6863,0.6776,0.4603,0.7535,0.6293,0.6574

In [17]:
bubble_countries=overall_gendergap.merge(economy_df,on='Country Name',how='inner')

In [18]:
bubble_countries=bubble_countries.merge(gdp_all,on='Country Name',how='inner',suffixes=('_gendergap','_gdp'))

In [19]:
bubble_countries.set_index('Country Name',inplace=True)

In [20]:
countries=gapall['Country Name'].unique()

In [29]:
francegender=bubble_countries.loc['France',{'2012_gendergap','2013_gendergap','2014_gendergap','2015_gendergap','2016_gendergap'}]

In [35]:
francegdp=bubble_countries.loc['France',{'2012_gdp','2013_gdp','2014_gdp','2015_gdp','2016_gdp'}]

In [23]:
francestem=stem_df.loc['France']

In [ ]:
trace0 = go.Scatter(
    x=df_2007['gdpPercap'][df_2007['continent'] == 'Africa'],
    y=df_2007['lifeExp'][df_2007['continent'] == 'Africa'],
    mode='markers',
    name='Africa',
    text=df_2007['text'][df_2007['continent'] == 'Africa'],
    marker=dict(
        symbol='circle',
        sizemode='area',
        sizeref=sizeref,
        size=df_2007['size'][df_2007['continent'] == 'Africa'],
        line=dict(
            width=2
        ),
    )
)

In [44]:
trace1=go.Scatter(
        y=francegender,
        x=francestem,
        mode='markers',
        marker=dict(
            size=francegdp/100000000000,
            opacity=0.5))
data=[trace1]
layout= go.Layout(
    xaxis=dict(
        range=[0,100]),
    yaxis=dict(
        range=[0,1]),
    )

fig=go.Figure(data=data,layout=layout)
py.offline.iplot(fig)

    
# bubble_countries.loc[bubble_countries['Country Name']=='Angola',['2006_gendergap']]

In [25]:
overall_clean.reset_index(inplace=True)

In [26]:
years=[2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016]

In [27]:
# data=[]
# for country in countries:
#     trace1=go.Scatter(
#         x=years,
#         y=overall_clean['{}'.format(country)],
#         mode='lines',
#         name='{}'.format(country))
#     data.append(trace1)

# py.offline.iplot(data)